@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&family=Poppins:ital,wght@0,100;0,500;0,700;1,100;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');
/* RESET */
* {
padding: 0;
margin: 0;
font-family: 'Montserrat', sans-serif;
font-size: 20px;
}

/* SPLASH SCREEN */
.pantallaCarga{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: burlywood;
    height: 100vh;
    width: 100%;
    gap: 200px;
}

#logo {
  z-index: 100;
  width: 300px;
  height: 300px;
  opacity: 1;
  margin: 5vh 30vh;
  position: absolute;
  top: 0;
}

.loader {
    color: #fff;
    font-size: 10px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    animation: mulShdSpin 1.3s infinite linear;
    transform: translateZ(0);
  }

  .footer {
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    bottom: 0;
  }
  
  .footer h4{
    font-size: 11px;
  }

  @keyframes mulShdSpin {
    0%,
    100% {
      box-shadow: 0 -3em 0 0.2em, 
      2em -2em 0 0em, 3em 0 0 -1em, 
      2em 2em 0 -1em, 0 3em 0 -1em, 
      -2em 2em 0 -1em, -3em 0 0 -1em, 
      -2em -2em 0 0;
    }
    12.5% {
      box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 
      3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, 
      -2em 2em 0 -1em, -3em 0 0 -1em, 
      -2em -2em 0 -1em;
    }
    25% {
      box-shadow: 0 -3em 0 -0.5em, 
      2em -2em 0 0, 3em 0 0 0.2em, 
      2em 2em 0 0, 0 3em 0 -1em, 
      -2em 2em 0 -1em, -3em 0 0 -1em, 
      -2em -2em 0 -1em;
    }
    37.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
       3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, 
       -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    50% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
       3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, 
       -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    62.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
       3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, 
       -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
    }
    75% {
      box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 
      3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, 
      -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
    }
    87.5% {
      box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 
      3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, 
      -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
    }
  }
  
.hidden {
  overflow: hidden;
}

.cerrar{
  transform: translateY(-100%);
  transition: all 0.5 ease-out;
}

/* HEADER */
header {
  background-color: cadetblue;
  width: 100%;
  text-align: center;
  border-bottom: brown 4px solid;
  color: black;
}

header h1{
    font-size: 2.5rem;
    font-weight: 700;
    padding: 10px 0;
    font-family: 'Unica One', cursive;
    letter-spacing: 0.5rem;
}

body{
    height: auto;
    background-color: burlywood;
}


body img{
    z-index: -20;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.3;
}

.main .top-container{
  display: flex;
  justify-content: space-between;
}

/* BUTTONS */
.main .top-container .buttons {
  position: relative;
  padding: 5%;
  display: flex;
  gap: 20%;
}
.main .top-container .buttons button{
  background: none;
  border: none;
  cursor: pointer;
  color: black;
}


/* DATE */
.top-container .date-container{
  position: relative;
  display: flex;
  justify-content: right;
  padding: 5%;
}

.top-container .date-container input{
  font-weight: 200;
  font-size: 0.8rem;
  text-align: center;
  background: none;
  border: 0px;
  border-bottom: 1px solid black;

}

/* ITEM CONTAINER */

#texto{
  font-style: italic;
  color: grey;
  font-size: smaller;
  padding: 0 5%;
}
.mainContainer{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 0 5vw;
}
.itemName{
  width: 70%;
  background: transparent;
  border: none;
}

.quantity{
  width: 10%;
  background: transparent;
  border: none;  
}

/* BUTTON CONTAINER */
.buttonContainer{
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  position: relative;
  margin: 2vh 0;
}

.buttonContainer i{
    font-size: 2rem;
    padding: 10px 12px;
  }

/* STORED LIST */
.list-List{
  display: none;
  flex-direction: column;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  right: 0;
  height: 30%;
  width: 100%;
  z-index: 100;
  background-color: cadetblue;
  box-shadow: 2px 2px 5px black;
}

.list-List .listTop{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2%;
}

.list-List .listTop h3{
  text-decoration: underline;
  padding: 0 2%;
  text-align: center;
  color: burlywood;
}

.list-List .listTop button{
  padding: 0 2%;
  text-align: center;
  color: burlywood;
  background: none;
  border: none;
}

.list-List .storedList{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 4%;
}


/* ADD MORE */

#add {
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  border-radius: 50%;
  background-color: cadetblue;
  border: 0px;
  color: burlywood;
  cursor: pointer;
  box-shadow: 2px 2px 5px black;
}

/* REMOVE */
#remove {
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  border-radius:50%;
  background-color: cadetblue;
  border: 0px;
  color: burlywood;
  cursor: pointer;
  box-shadow: 2px 2px 5px black;
}

@media (max-width: 610px){
  header h1{
    font-size: 2rem;
  }

  .quantity{
    width: 20%;
  }
}

@media (max-width: 376px){
  header h1{
    font-size: 1.3rem;
  }
}

@media (max-width: 425px){
  .list-List .listTop{
    flex-direction: column;
    gap: 10px;
  }

  .list-List .storedList{
    text-align: center;
  }
}

